@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  .signup-box {
    margin: 0 0 10px 0;
    width: 350px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: white;
    .signup-title {
      margin: 55px 0 30px 0;
      font-size: 40px;
      font-family: "Lobster", cursive;
    }
    .signup-profileImg {
      margin: 0 auto;
      width: 57px;
      height: 57px;
      border: 1px solid #dbdbdb;
      border-radius: 100%;
    }
    .signup-profileImg-label {
      margin: 5px 0 20px 0;
      display: inline-block;
      font-weight: bold;
      font-size: 13px;
      color: #0095f6;
      cursor: pointer;
    }
    .form-signup input[type="file"] {
      display: none;
      // position: absolute;
      // width: 1px;
      // height: 1px;
      // // padding: 0;
      // // margin: -1px;
      // overflow: hidden;
      // clip: rect(0, 0, 0, 0);
      // border: 0;
    }
    .signup-email,
    .signup-pw,
    .signup-id,
    .signup-name {
      display: block;
      width: 270px;
      margin: 10px auto;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid lightgray;
      background-color: #fafafa;
      font-size: 12px;
    }
    .signup-email:focus,
    .signup-pw:focus,
    .signup-id:focus,
    .signup-name:focus {
      outline: none;
    }
    .signup-btn {
      width: 270px;
      margin: 10px 0 40px 0;
      padding: 7px;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      color: white;
    }
    .signup-btn:hover {
      cursor: pointer;
    }
  }
  .signup-box {
    width: 350px;
    text-align: center;
    border: 1px solid lightgray;
    background-color: white;
    .signup-question,
    .signup-link {
      padding: 25px 0;
      display: inline-block;
      font-size: 14px;
    }
    .signup-link {
      margin: 0 0 0 5px;
      font-weight: bold;
      color: #0095f6;
    }
  }
}
